{% extends "core/base.html" %}

{% load widget_tweaks %}

{% block title %}Список блогов{% endblock %}

{% block content %}
    <div class="input-group">
        <form method="get">
            <span class="input-group-btn">
            {{ search_form.search|add_class:"form-control" }}
                <input type="submit" class="btn btn-default" value="Поиск">
            </span>
        </form>
    </div>
    <div class="list-group">
    {% for blog in object_list %}
        <div class="list-group-item">
            <h3><a href="{% url 'blogs:one_blog' blog.id %}">{{ blog.name }}</a>
                {% if user.is_authenticated and user.id == blog.owner.id %}
                    <small>
                        <a href="{% url 'blogs:blog_update' blog.id %}" class="align-right">Редактировать</a>
                    </small>
                {% endif %}
            </h3>
            <p>{{ blog.description }}</p>
        </div>
    {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="paginator"><ul class="pager">
            {% if page_obj.has_previous %}
                <li><a href="{% url 'blogs:blog_list' %}?page={{ page_obj.previous_page_number }}">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </a></li>
            {% endif %}
            <li><span class="page-current">
                {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span></li>
            {% if page_obj.has_next %}
                <li><a href="{% url 'blogs:blog_list' %}?page={{ page_obj.next_page_number }}">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </a></li>
            {% endif %}
        </ul></div>
    {% endif %}
    </div>
{% endblock %}
