{% extends "core/base.html" %}

{% block title %}Список блогов{% endblock %}

{% block content %}
    {% for blog in object_list %}
        <div>
            <div><h3><a href="{% url 'blogs:one_blog' blog.id %}">{{ blog.name }}</a>
                <a href="{% url 'blogs:blog_update' blog.id %}">Редактировать</a></h3></div>
            <div>{{ blog.description }}</div>
            <hr>
        </div>
    {% endfor %}
    <br>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/blogs?page={{ page_obj.previous_page_number }}">Предыдущая </a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/blogs?page={{ page_obj.next_page_number }}">Следующая</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <br>
    <div><a href="{% url "blogs:post_create" %}">Создать пост</a></div>
    <br>
    <a href="{% url 'blogs:blog_create' %}">Создать новый блог</a>
    <br><br>
    <div><a href="{% url 'core:main' %}">Главная</a></div>
{% endblock %}
