{% extends 'core/base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div>Id блога: {{ object.id }}</div>
    <h5>Категории:
    {% for category in object.category.all %}
            {{ category.name }}
    {% endfor %} </h5>
    <div><h5><a href="{% url 'blogs:blog_update' object.id %}">Редактировать</a></h5></div>

    <div><h3>Посты</h3>
        {% for post in object.posts.all %}
            <div><h3><a href="{% url 'blogs:one_post' pk=post.id %}">
                {{ post.name }}
            </a>
                <a href="{% url 'blogs:post_update' post.id %}">Редактировать</a></h3></div>
            <div>{{ post.text }}</div>
            <hr>
        {% endfor %}
    </div>
    <br>
    <br>
    <div><a href="{% url 'blogs:blog_list' %}">Список блогов</a></div>
{% endblock %}
