{% extends 'core/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static "blogs.css" %}">
{% endblock %}

{% block title %}
    <a href="{% url 'blogs:one_blog' pk=object.blog.id %}" class="prev-page-link">
        {{ object.blog.name }}</a> >> {{ object.name }}
{% endblock %}

{% block content %}
    <p>{{ object.text }}</p>
    <h3 class="modal-header">Комментарии</h3>

    <div class="list-group container">
        {% for comment in object.comments.all %}
            <div class="list-group-item row">
                <h4 class="col-md-1">{{ comment.author }}</h4>
                <p class="col-md-11">{{ comment.text }}</p>
            </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div> <form method="post" action="{% url "comments:comment_form" %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input hidden value="{{ object.id }}" name="post_id">
        <input type="submit" value="Готово">
    </form> </div>
    {% endif %}
{% endblock %}
